body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #051705;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #e67e16;
  }
  
  #output {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: left;
  }
  
  pre {
    white-space: pre-wrap;
  }
  